@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import "tailwindcss";

.font-satisfy {
  font-family: 'Satisfy';
  font-weight: 900;
  letter-spacing: 1.2;
}

@layer theme {
  .primary-g {
    color: #317b74;
  }
  .primary-b {
    color: #ff9d01;
  }
  .secondary {
    background-color: #faf8f4;
  }
}

::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

body {
  -ms-overflow-style: none;  /* IE, Edge */
  scrollbar-width: none;  /* Firefox */
}